<!-- src/app/normaluser/normaluser.component.html -->
<div class="normaluser">
    <h2>Bienvenido a MediFit</h2>
    <p>Elige una de las siguientes opciones:</p>
    <ul class="options-list">
      <li><a routerLink="/appointment-scheduler">Agendar Cita</a></li>
      <li><a routerLink="/appointment-cancel">Cancelar Cita</a></li>
      <li><a routerLink="/medical-history">Historial Médico</a></li>
      <li><a routerLink="/my-appointments">Mis Citas</a></li>
      <li><a routerLink="/send-query">Enviar Consulta</a></li>
      <li><a routerLink="/services-list">Lista de Servicios</a></li>
      <li><a routerLink="/user-profile">Perfil de Usuario</a></li>
    </ul>
  </div>